# Range

In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

## Range with step size

In [5]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

## Range is a generator, but you can cast it into a list

In [6]:
range(0,10)

range(0, 10)

In [7]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Enumerate

In [18]:
i = 0;
word = 'Hello'
for char in word:
    print(f'Character {i}: {word[i]}')
    i += 1

Character 0: H
Character 1: e
Character 2: l
Character 3: l
Character 4: o

In [19]:
word = 'Hello'
for item in enumerate(word):
    print(item)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [20]:
word = 'Hello'
for item in enumerate(word):
    print(f'Character {item[0]}: {item[1]}')

Character 0: H
Character 1: e
Character 2: l
Character 3: l
Character 4: o

In [21]:
word = 'Hello'
for i,char in enumerate(word):
    print(f'Character {i}: {char}')

Character 0: H
Character 1: e
Character 2: l
Character 3: l
Character 4: o

# Zip

In [30]:
for item in zip([1,2,3,4,5], ['a','b','c'], ['+','-','*']):
    print(item)

(1, 'a', '+')
(2, 'b', '-')
(3, 'c', '*')

In [31]:
list(zip([1,2,3,4,5], ['a','b','c']))

[(1, 'a'), (2, 'b'), (3, 'c')]

# In

In [32]:
'x' in [1,2,3]

False

In [33]:
1 in [1,2,3]

True

In [34]:
'e' in 'Hello'

True

In [40]:
d = {'k1':'v1', 'k2':'v2', 'k3':'v3'}
'k1'in d and 'v3' in d.values() and ('k1','v1') in d.items()

True

# Min & Max

In [42]:
nums = list(range(1,100,3))
print(f'min={min(nums)}, max={max(nums)}')

min=1, max=97

# Random

## shuffule

In [44]:
from random import shuffle

nums = list(range(1,20))
shuffled = shuffle(nums)

# Shuffle will not return anything
print(shuffled)
# Shuffle shuffles the input list
print(nums)

None
[8, 5, 16, 18, 15, 14, 12, 4, 10, 2, 19, 3, 7, 11, 1, 13, 6, 17, 9]

## randomint

In [50]:
from random import randint

nums = []
count = 0
while count < 10:
    nums.append(randint(0,100))
    count += 1

print(nums)

[40, 70, 14, 52, 95, 13, 87, 58, 57, 88]

# Input

In [51]:
name = input('Enter your name: ')
print(f'Hello, {name}!')

Enter your name here: Michael
Hello, Michael!

In [56]:
num = input('Enter your number: ')
print(f'Input type: {type(num)}')
print(f'Sqart of input: {float(num) ** 2}')

Enter your number: 33
Input type: <class 'str'>
Sqart of input: 1089.0